<%- include layouts/header.ejs %>
            <nav class="navbar navbar-default" >
            <div class="container-fluid">
            <ul class="nav navbar-nav" style="font-size:12px; !important">
              <li><a href="/">Home</a></li>
              <li><a href="/properties">My Properties</a></li>
              <li><a href="/listing">Search Properties</a></li>

              <li><a href="/properties/add">Add Property</a></li>
              <li><a href="#">Profile</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Welcome</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
            </nav>

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

<h2>Edit Property </h2>
<div class="page-data">
    
    <form method="post" action="/properties/edit/<%=data[0].id%>">

             <div class="form-group">
                <label>Property Name</label>
                <input type="text" class="form-control" name="property_title" value="<%=data[0].property_title%>" required>
            </div>

            <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" type="text" name="property_title" value="<%=data[0].property_title%>" required>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address" required cols="30" rows="5">
                            <%=data[0].address %>
                        </textarea>                     
                        
                    </div>
                    
                    <div class="form-group">
                        <label>Category</label>
                        <input class="form-control" type="text" name="category" value="<%=data[0].category %>" required>
                    </div>

                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" type="text" name="country" value="<%=data[0].country %>" required>
                    </div>


                    <div class="form-group">
                        <label>City</label>
                         <input class="form-control" type="text" name="city" value="<%=data[0].city %>" required>
                    </div>


                    <div class="form-group">
                        <label>Location</label>
                        <input class="form-control" type="text" name="location" value="<%=data[0].location %>" required>
                    </div>

                    <div class="form-group">
                        <label>Bedrooms</label>
                         <input class="form-control" type="text" name="bedroom" value="<%=data[0].bedroom %>" required>
                    </div>


                    <div class="form-group">
                        <label>Bathrooms</label>
                         <input class="form-control" type="text" name="bathroom" value="<%=data[0].bathroom %>" required>
                    </div>


                    <div class="form-group">
                        <label>Carpet Area</label>
                         <input class="form-control" type="text" name="carpet_area" value="<%=data[0].carpet_area %>" required>
                    </div>


                    <div class="form-group">
                        <label>Built Up Area</label>
                         <input class="form-control" type="text" name="builtup_area" value="<%=data[0].builtup_area %>" required>
                    </div>


                    <div class="form-group">
                        <label>Description</label>
                         <input class="form-control" type="text" name="description" value="<%=data[0].description %>" required>
                    </div>


                    <div class="form-group">
                        <label>Year Built</label>
                        <input class="form-control" type="text" name="year_built" value="<%=data[0].year_built %>" required>
                    </div>


                    <div class="form-group">
                        <label>Owner</label>
                        <input class="form-control" type="text" name="owner" value="<%=data[0].owner %>" required>

                    </div> 


                    <div class="form-group">
                        <label>Featured</label>
                         <input class="form-control" type="text" name="is_featured" value="<%=data[0].is_featured %>" required>
                    </div>


                    <div class="form-group">
                        <label>Property Price</label>
                        <input type="text" class="form-control" name="price" value="<%=data[0].price%>">
                    </div>

            <div class="form-group">
               <input type="submit" name="submit" value="Save">
               <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
            </div>
               

    </form>
    
</div>
</div>
</div>
</div>
</div>
        
<%- include layouts/footer.ejs %>

